.todoBorder {
    border: 1px solid black;
    padding: 5px;
    margin: 20px;
    width: 400px;
    float: left;
}

.doneItem {
    text-decoration: line-through;
}

.todoItem {
    line-height: 25px;
}

.fa, .fab {
    cursor: pointer;
}